<%- include('../includes/head.ejs'); %>
</head>

<body>
  <%- include('../includes/navigation.ejs'); %>

  <main>
    <div class="container" style="margin-top: 3rem;">
      <div class="row">
        <form class="col s12" action="/todo/<% if (editing) { %>edit-task<% } else { %>add-task<% } %>" method="POST">
          
          <div class="row">
            <div class="input-field col s12">
              <input id="taskDesc" name="taskDesc" type="text" class="validate" style="height: 5rem;" value="<% if (editing) { %><%= task.description %><% } %>">
              <label for="taskDesc">Description</label>
            </div>   
            <% if (editing) { %>
              <input type="hidden" name="taskId" value="<%= task.id %>">
            <% } %>
          </div>
          
          <button class="btn waves-effect waves-ligh" type="submit"> <% if (editing) { %> Update Task <% } else { %> Add Task <% } %></button>

        </form>
      </div>
    </div>
  </main>

<%- include('../includes/end.ejs'); %>